



.card{
    max-width: 540px
}
@media (max-width:700px){
    
    .img-thumbnail{
        height: 40% !important;
        width: 60% !important;
    }  
    .ub-img{
        height: 40% !important;
        width: 50% !important;
    } 
}


